body {
    background: #0F1624;
    max-width: 1600px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url('assets/hero_img.svg');
    background-repeat: no-repeat;
    background-position: 760px 95px;
    background-size: 605px;


}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 120px;
    align-items: center;
   
}

.logo {
    margin-left: 35px;

}

.nav-menu {
    list-style: none;
    display: flex;
    padding: 0;
    font-family: 'Popins', sans-serif;
    font-weight: 500;
    font-size: 22px;
}


.projects {
    border-bottom: 4px solid;
    border-image: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83px;
    height: 35px;
    border-image-slice: 1;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    align-items: center;
}

.nav-menu a:hover {
    text-decoration: underline;
    color: white;
    text-decoration-color: rgb(26, 145, 224);
}

.social-links {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 0px;

}

.social-links a {
    padding: 10px 25px;
    align-items: center;
    display: block;
}

#nav-burger {
    display: none;
    background: none;
    color: white;
    border: none;
    font-size: 40px;
    padding: 20px;
    margin-bottom: 10px;
    
}



h1 {

    font-weight: 600;
    font-size: 50px;
}

p {
    color: #BCBCBC;
    font-weight: 600;
    font-size: 27px;
}

.main-section {
    max-width: 700px;
    margin-left: 155px;
    margin-top: 85px;
    text-align: left;
}

.contact {
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 83px;
    width: 280px;
    height: 80px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 24px;
    margin-top: 50px;
    cursor: pointer;
}

@media screen and (max-width: 938px) {

    #nav-burger{
        display:flex;

    }

    .main-section {

        margin: 0 50px;
        text-align: center;
    }
}